@keyframes slideAnimation {
  0% {
    left: -145%;
  }
  13% {
    left: 0%;
  }

  70% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes imageAnimation {
  0% {
    bottom: -580px;
  }
  12% {
    bottom: 1px;
  }
  70% {
    bottom: 0px;
    /* transform: scale(0.9); */
  }
  100% {
    bottom: 0;
  }
}

@keyframes statAnimaion {
  0% {
    right: -500px;
    display: none;
  }
  70% {
    right: 2px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounceImage {
  from {
    right: 30px;
  }
  to {
    right: 0px;
  }
}

.imageAnimation {
  animation: imageAnimation 6s ease-in-out 0.1s infinite;
  position: relative;
}

.bounceImageAnimation {
  position: relative;
  animation: bounceImage 2s linear infinite 1s alternate;
}
.headerTexAnimation {
  animation: slideAnimation 6s ease-in-out 0s infinite;

  position: relative;
}

.subTextanimationn {
  animation: slideAnimation 6s ease-in-out 0s infinite;

  position: relative;
}

.statAnimation {
  animation: statAnimaion 1.8s ease-in-out 0.6s;
  position: relative;
}

.animationDelay {
  animation-delay: -2s;
}